/* --------------------------------------------- HOME PAGE --------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman";
    line-height: 1.6;
    background: white;
}

#header-sec {
    background: url(/images/alone.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#logo {
    width: 70px;
    height: 70px;
    color: aliceblue;
    font-weight: 700;
    font-family: Verdana;
    padding: 8px;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

#show {
    color: aliceblue;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    padding: 1rem 1.5rem;

}

#navbar ul a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
}

#navbar ul a:hover {
    background-color: lightskyblue;
}

#header-sec .header-content {
    text-align: center;
    padding-top: 8%;
}

#header-sec .me-name{
    font-size: 2.5rem;
    line-height: 1.2;
    color: rgb(35, 170, 211);
}

#hide1 {
    color: lightskyblue;
}

#sec-a .spetials {
    margin-top: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

#sec-a .spetials .fas {
    color: lightseagreen;
    padding-bottom: 0.4rem;
}
#sec-b .stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#sec-b .stats li {
    line-height: 2;
}

#sec-b .stats li.stats-title {
    font-size: 1.5rem;
}

#sec-b .stats li.stats-number {
    font-size: 2rem;
    font-weight: bold;
}

#sec-b .stats div {
    padding: 3rem 0;
}

#sec-b .stats div:nth-child(odd) {
    background: lightseagreen;
}

#sec-b .stats div:nth-child(even) {
    background: lightskyblue;
}

#sec-c .process {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    text-align: center;
}

#sec-c .process-step {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    background: lightseagreen;
    color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    padding: 1rem;
    transition: all 1s;
}

#sec-c .process-icon {
    border-radius: 50%;
    background: #333;
    color: #fff;
    padding: 2rem;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: relative;
    transition: all 1s;
}

#sec-c .process-icon:hover {
    background: lightseagreen;
    width: 90px;
    height: 90px;
    line-height: 90px;
}

#sec-c .process-icon:hover .process.step {
    background: #333;
    color: #fff;
}

/* ---------------------------------------- ABOUT PAGE ----------------------------------------- */

#header-sec2 {
    background: url("/images/alone.jpg");
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: 3px solid lightseagreen;
}

#about-a .about-info {
    display: grid;
    grid-template-areas:
        "bio-img bio bio"
        "aw1 aw2 aw3";
    grid-gap: 1.2rem;
}

#about-a .bio-image {
    grid-area: bio-img;
}

#about-a .bio {
    grid-area: bio;
    border-left: 3px solid lightseagreen;
    padding: 0.8rem;
}

#about-a .award-1 {
    grid-area: aw1;
}

#about-a .award-2 {
    grid-area: aw2;
}

#about-a .award-3 {
    grid-area: aw3;
}

#about-a .award-1 .fas,
#about-a .award-2 .fas,
#about-a .award-3 .fas {
    color: lightseagreen;
    margin: 1rem;
}

#about-b #progressHtml {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#about-b #progressDoneHtml {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: lightseagreen;
    transition: 3s ease-in-out;
}

#about-b #progressCss {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#about-b #progressDoneCss {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: lightseagreen;
    transition: 3s ease-in-out;
}

#about-b #progressSass {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#about-b #progressDoneSass {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: lightseagreen;
    transition: 3s ease-in-out;
}

#about-b #progressBootstrap {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#about-b #progressDoneBootstrap {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: lightseagreen;
    transition: 3s ease-in-out;
}

#about-b #progressJavascript {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#about-b #progressDoneJavascript {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: lightseagreen;
    transition: 3s ease-in-out;
}

#about-b #progressReact {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#about-b #progressDoneReact {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: lightseagreen;
    transition: 3s ease-in-out;
}

#about-d .testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
}

#about-d .testimonials ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

#about-d .testimonials p {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
}

#about-d .testimonials img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

/* increment counter */

.increment-counter {
    background-color: lightseagreen;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin: 0;
}

.counter-container {
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

/* ----------------------------------------- BLOG PAGE ------------------------------------- */

.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.flex-items>div {
    padding: 20px;
}

.flex-columns.flex-reverse .row {
    flex-direction: column;
}

.flex-columns .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 100%;
    max-width: 100%;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}

/* ----------------------------------- PROJECT PAGE ------------------------------------- */

#pr {
    background: #333;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

.h3 {
    color: lightseagreen;
}

.projects {
    line-height: 1.5rem;
}

.project_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    background: #555;
    color: #fff;
}

.pre {
    overflow-y: scroll;
    height: 30vh;
}

h2 {
    font-size: 2rem;
    line-height: 6rem;
    color: #fff;
    margin-left: 1rem;
}

.container1 h5 {
    background: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center center/cover;
    padding: 200px;
    text-align: center;
    font-size: 5rem;
    opacity: 0.8;
}

/* ----------------------------------- CONTACT PAGE ------------------------------------- */

.form-content {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.section-title{
    color: #333;
}

.form-content input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px lightseagreen solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #444;
}

.form-content input:focus,
.form-content input:valid {
    outline: 0;
    border-bottom: lightseagreen 1.5px solid;
}

.form-content label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-content label span {
    display: inline-block;
    font-size: 16px;
    min-width: 5px;
    transition: 0.09s ease;
}

.form-content input:focus+label span,
.form-content input:valid+label span {
    color: #444;
    transform: translateY(-30px);
}

#contact-a .text-fields {
    display: grid;
    grid-template-areas:
        "name email"
        "subject phone"
        "message message";
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;
}

#contact-a .text-fields .name-input {
    grid-area: name;
}

#contact-a .text-fields .name-input {
    grid-area: name;
}

#contact-a .text-fields .subject-input {
    grid-area: subject;
}

#contact-a .text-fields .enmail-input {
    grid-area: enmail;
}

#contact-a .text-fields .phone-input {
    grid-area: phone;
}

#contact-a .text-fields .message-input {
    grid-area: message;
    height: 100px;
}

#contact-a .text-fields .text-input {
    padding: 0.5rem 1rem;
}

#contact-a button[type="submit"] {
    width: 30%;
}

#contact-b .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contact-c h1 {
    text-align: center;
    font-size: 4rem;
}

/* --------------------------------FOOTER SECTION------------------------------------ */

.footer_container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

.footer {
    background-color: #333;
    padding: 50px 0;
}

.footer.copy {
    text-align: center;
    color: #fff;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a,
pre {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: lightseagreen;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block !important;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center !important;
    line-height: 40px !important;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a i {
    text-align: center;
    margin-top: 30%;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: lightseagreen;
}

.contact-info {
    color: #fff;
}

pre {
    margin-left: -110px !important;
}

.bottom-line1 {
    height: 1px;
    width: 4rem;
    background: lightseagreen;
    display: block;
    margin: 0.5rem 0;
}